body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url("/home-bg.jpg");  
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  margin: 0;
  padding: 0;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
